.avatar {
  background-color: var(--color-border);
  color: var(--color-text-primary);
  font-family: var(--font-family);
  font-weight: 500;
  border-radius: var(--radius-full);
  display: flex;
  align-items: center;
  justify-content: center;
}

.avatar--sm {
  width: 28px;
  height: 28px;
  font-size: var(--font-size-label);
}

.avatar--md {
  width: 40px;
  height: 40px;
  font-size: var(--font-size-small);
}

.avatar--lg {
  width: 56px;
  height: 56px;
  font-size: var(--font-size-h3);
}